@import "../../../../../style/color";

//common
.layout {
    display: flex;
    flex-direction: column;
}

//common
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $mainColor;
    padding: 29px 0 7px 0;
    border-bottom: 1px solid $light-gray;
}


//common
.searchField {
    display: flex;
    margin-top: 23px;
}

.select {
    min-width: 256px;
    margin: 0 64px 0 12px;
}

.anticon {
    color: rgba(173, 171, 172, 1);
}

.imgWrapper {
    width: 156px;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $light-gray;
    flex: 0 0 auto;
}

.blogDescriptionWrapper {
    width: 100%;
}

.blogTitleWrapper {
    display: flex;
    justify-content: space-between;
}

.img {
    //display: flex;


}

.blogsWrapper {
    margin-top: 24px;
}

.blogWrapper {
    display: flex;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid $light-gray;

    &:last-child {
        border-bottom: none;
    }

}

.blogTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 133%;
    color: $mainColor;
}

.website {
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: $gray;
}

.description {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    color: $mainColor;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.addBlogWrapper {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.buttonPrimary {
    background: $buttonActive;
    color: #fcfbfb;
    border-radius: 2px;
    font-weight: 600;
    padding: 8px 36px;
    box-shadow: 0 4px 18px 0 rgba(248, 52, 107, 0.35), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.buttonSecondary {
    color: $buttonActive;
    border-radius: 2px;
    font-weight: 600;
    padding: 8px 36px;
    border: 1px solid $buttonActive;
}

.dropdownWrapper {
    display: flex;
    & img {
        margin-right: 12px;
    }
}

.wrapButtonsModal {
    display: flex;
    justify-content: space-between;

    & button {
        width: 124px;
        padding: 8px 0;
    }
}

.titleModal {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $text-gray;
    padding-bottom: 18px;
    border-bottom: 1px solid $light-gray;
}

.bodyModal {
    padding: 30px 0 42px 0;
}
